.container{
    width: 1000px;
    height: 600px;;
}
.header{
    width: 1000px;
    height: 40px;
    background-color: rgb(175, 175, 175);
}
.codepelita{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    padding-top: 10px;
}
.sidebar{ 
    width: 300px;
    height: 560px;
    background-color: rgb(94, 94, 94);
    float: left;
}
.content{ 
    width: 700px;
    height: 560px;
    background-color: rgb(207, 207, 207);
    float: right;
}
.form{
    width: 400px;
    height: 400px;
    background-color: white;
    margin-top: 90px;
    margin-left: 90px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.isi{
    height: 20px;
    width: 300px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.isi1{
    height: 90px;
    width: 300px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.option1{
    width: 300px;
    height: 45px;
    background-color: rgb(167, 167, 167);
    margin-top: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    float: none;
}
.option2{
    width: 300px;
    height: 45px;
    background-color: rgb(167, 167, 167);
    margin-top: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    float: none;
}
.option3{
    width: 300px;
    height: 45px;
    background-color: rgb(167, 167, 167);
    margin-top: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    float: none;
}
.simpan{
    height: 30px;
    width: 300px;
    background-color: purple;
    border: white;
    border-radius: 10px;
}